@inherits LayoutComponentBase
@using frontendblazor.Components.Layout
<div class="min-h-screen flex flex-col">
    <Header />
    <main class="flex-1">
        <article class="content">
            @Body
        </article>
    </main>
    <Footer />
</div>