<div class="nav-menu-admin w-64 bg-gray-100 text-gray-800 min-h-screen">
    <ul class="space-y-1 p-4">
        <li><NavLink href="/admin/dashboard" class="block px-4 py-2 rounded-lg hover:bg-gray-200 bg-gray-300 mt-4">Dashboard</NavLink></li>
        <li><NavLink href="/admin/users" class="block px-4 py-2 rounded-lg hover:bg-gray-200 bg-gray-300 mt-4">Tài khoản</NavLink></li>
        <li><NavLink href="/admin/products" class="block px-4 py-2 rounded-lg hover:bg-gray-200 bg-gray-300 mt-4">Sản phẩm</NavLink></li>
        <li><NavLink href="/admin/inventories" class="block px-4 py-2 rounded-lg hover:bg-gray-200 bg-gray-300 mt-4">Tồn kho</NavLink></li>
        <li><NavLink href="/admin/customers" class="block px-4 py-2 rounded-lg hover:bg-gray-200 bg-gray-300 mt-4">Khách hàng</NavLink></li>
        <li><NavLink href="/admin/suppliers" class="block px-4 py-2 rounded-lg hover:bg-gray-200 bg-gray-300 mt-4">Nhà cung cấp</NavLink></li>
        <li><NavLink href="/admin/categories" class="block px-4 py-2 rounded-lg hover:bg-gray-200 bg-gray-300 mt-4">Thể loại</NavLink></li>
        <li><NavLink href="/admin/orders" class="block px-4 py-2 rounded-lg hover:bg-gray-200 bg-gray-300 mt-4">Đơn hàng</NavLink></li>
        <li><NavLink href="/admin/payments" class="block px-4 py-2 rounded-lg hover:bg-gray-200 bg-gray-300 mt-4">Thanh toán</NavLink></li>
        <li><NavLink href="/admin/promotions" class="block px-4 py-2 rounded-lg hover:bg-gray-200 bg-gray-300 mt-4">Ưu đãi</NavLink></li>
        <li><NavLink href="/" class="block px-4 py-2 rounded-lg hover:bg-gray-200 bg-gray-300 mt-4">Quay về trang chính</NavLink></li>
    </ul>
</div>
