@page "/"
@inject frontendblazor.Services.ProductApi productApi
@inject frontendblazor.Services.CategoryApi categoryApi
@using frontendblazor.Components.Home
@using frontendblazor.Models

<PageTitle>Trang chủ</PageTitle>

<div class="max-w-7xl mx-auto px-4 md:px-6 py-6 space-y-8">
    <HeroBanner ImageUrl="images/BannarBig.png" />
    <ServiceHighlights />
    <CategoryGrid Title="Danh mục phổ biến" Items="@categories" />
    <ProductGrid Title="Sản phẩm phổ biến" Items="@popularProducts" PageSize="10" />
    <Testimonials />
</div>

@code {


    private List<ProductItemVm> popularProducts = new();
    private List<CategoryItemVm> categories = new();

    protected override async Task OnInitializedAsync()
    {
        var categoryResponse = await categoryApi.GetAllAsync(CancellationToken.None);
        Console.WriteLine(categoryResponse);
        if (categoryResponse is not null && categoryResponse.Success && categoryResponse.Data is not null)
        {
            categories = categoryResponse.Data
            .Select(c => new CategoryItemVm(c.CategoryId, c.CategoryName))
            .ToList();
        }
        var response = await productApi.GetAllAsync(CancellationToken.None);
        Console.WriteLine(response);
        if (response is not null && response.Success && response.Data is not null)
        {
            popularProducts = response.Data
            .Select(p => new ProductItemVm(
            p.ProductName,
            p.ProductImg ?? "",
            p.Price,
            p.CurrentStock ?? 0,
            p.ProductId > 0
            ))
            .ToList();
        }
    }
}
